<app-menu></app-menu>

<div class="container my-3">
    <div class="row justify-content-center my-3">
        <div class="col text-start">
            <h2><i class="fas fa-trash"></i> Borrado de un Post</h2>
        </div>
    </div>

    <div class="row justify-content-center">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>ID</th>
                    <td>{{oPost?.id}}</td>
                </tr>
                <tr>
                    <th>Título</th>
                    <td>{{oPost?.titulo}}</td>
                </tr>
                <tr>
                    <th>Cuerpo</th>
                    <td>{{oPost?.cuerpo}}</td>
                </tr>
                <tr>
                    <th>Fecha</th>
                    <td>{{oPost?.fecha | showDateTime}}</td>
                </tr>
                <tr>
                    <th>Etiquetas</th>
                    <td>{{oPost?.etiquetas}}</td>
                </tr>
                <tr>
                    <th>Visible</th>
                    <td [innerHTML]="oPost?.visible | showBoolean"></td>
                </tr>
            </tbody>
        </table>

        <div class="control-group text-center mt-5">
            <div class="alert alert-danger" role="alert">
                <h3 class="">¿Estás seguro de que quieres eliminar el post?</h3>
            </div>
            <div class="controls">
                <a class="btn btn-danger mx-2" (click)="remove()"><i class="fas fa-trash"></i> SÍ</a>
                <a class="btn btn-success mx-2" (click)="goBack()"><i class="fas fa-arrow-circle-left"></i> NO </a>
            </div>
        </div>

        <div class="control-group text-center mt-5">
            <div class="controls">
                <a class="btn btn-primary mx-2" [routerLink]="['/home']"><i class="fas fa-home"></i> Ir a home</a>
                <a class="btn btn-primary mx-2" (click)="goBack()"><i class="fas fa-arrow-circle-left"></i> Volver </a>
            </div>
        </div>

    </div>
</div>

<app-footer></app-footer>

<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{strModalTittle}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{strModalBody}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>