<app-menu></app-menu>

<div class="container my-3">
    <div class="row justify-content-center my-3">
        <div class="col text-start">
            <h2><i class="fas fa-th-large"></i> Edición de Post</h2>
        </div>
    </div>
    <div class="row justify-content-center">

        <form novalidate [formGroup]="oForm" (ngSubmit)="onSubmit()">

            <div class="row mb-3">
                <label for="id" class="col-sm-2 col-form-label">ID</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" placeholder="{{id}}" readonly>
                </div>
            </div>

            <div class="row mb-3">
                <label for="titulo" class="col-sm-2 col-form-label">Título</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="titulo" formControlName="titulo"
                        [ngClass]="{'is-valid' : f.titulo.dirty && !(f.titulo.errors?.required || f.titulo.errors?.minlength) }">
                    <div *ngIf="f.titulo.dirty && f.titulo.errors?.required" class="text-danger">
                        Se debe introducir un título
                    </div>
                    <div *ngIf="f.titulo.dirty && f.titulo.errors?.minlength" class="text-danger">
                        El título introducido es demasiado corto
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <label for="cuerpo" class="col-sm-2 col-form-label">Cuerpo</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="cuerpo" rows="5" formControlName="cuerpo"
                        [ngClass]="{'is-valid' : f.cuerpo.dirty && !(f.cuerpo.errors?.required) }"></textarea>
                    <div *ngIf="f.cuerpo.dirty && f.cuerpo.errors?.required" class="text-danger">
                        Se debe introducir un cuerpo
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <label for="fecha" class="col-sm-2 col-form-label">Fecha</label>
                <div class="col-sm-10">
                    <input type="date" id="fecha" name="fecha" formControlName="fecha"
                        [ngClass]="{'is-valid' : f.fecha.dirty && !(f.fecha.errors?.required) }">
                    <input type="time" id="hora" name="hora" formControlName="hora">
                    <div *ngIf="f.fecha.dirty && f.fecha.errors?.required" class="text-danger">
                        Se debe introducir una fecha correcta
                    </div>
                    <div *ngIf="f.hora.dirty && f.hora.errors?.required" class="text-danger">
                        Se debe introducir una hora correcta
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <label for="etiquetas" class="col-sm-2 col-form-label">Etiquetas</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="etiquetas" formControlName="etiquetas"
                        [ngClass]="{'is-valid' : f.etiquetas.dirty && !(f.etiquetas.errors?.required) }">
                    <div *ngIf="f.etiquetas.dirty && f.etiquetas.errors?.required" class="text-danger">
                        Se debe introducir al menos una etiqueta
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <label for="visible" class="col-sm-2 col-form-label">Visible</label>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="visible" formControlName="visible">
                        <label class="form-check-label" for="visible">
                            Visible
                        </label>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary float-end" [disabled]="oForm.invalid">Modificar el
                Post</button>
        </form>

        <div class="control-group text-center mt-5">
            <div class="controls">
                <a class="btn btn-primary mx-2" [routerLink]="['/home']"><i class="fas fa-home"></i> Ir a home</a>
                <a class="btn btn-primary mx-2" (click)="goBack()"><i class="fas fa-arrow-circle-left"></i> Volver </a>
                <button class="btn btn-success" (click)="showModal('bla bla bla ...')">ventana modal</button>
            </div>
        </div>

    </div>
</div>

<app-footer></app-footer>

<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{strModalTittle}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{strModalBody}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>