<app-menu></app-menu>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col">
            <h2><i class="fas fa-file-alt"></i> Listado de Posts</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <h4>Registros: {{totalElements}}</h4>



            <nav aria-label="pagination">
                <ul class="pagination">
                    <li class="page-item" aria-current="page" *ngFor="let p of barraPaginacion"
                        [ngClass]="{'active': (page+'' == p)}">
                        <a class="page-link" (click)="page=(+p);getPage()">{{p}}</a>
                    </li>
                </ul>
            </nav>


            <div class="dropdown mb-3">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Registros por página: {{pageSize}}
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" (click)="pageSize=10;getPage()">10</a></li>
                    <li><a class="dropdown-item" (click)="pageSize=50;getPage()">50</a></li>
                    <li><a class="dropdown-item" (click)="pageSize=100;getPage()">100</a></li>
                    <li><a class="dropdown-item" (click)="pageSize=1000;getPage()">1000</a></li>
                </ul>
            </div>



            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Cuerpo</th>
                        <th>Fecha</th>
                        <th>Etiquetas</th>
                        <th>Visible</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let fila of aPosts">
                        <td>{{fila.id}}</td>
                        <td>{{fila.titulo  | trim:5}}</td>
                        <td>{{fila.cuerpo | trim:44}}</td>
                        <td>{{fila.fecha}}</td>
                        <td>{{fila.etiquetas}}</td>
                        <td>{{fila.visible}}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                <button type="button" class="btn btn-danger">Left</button>
                                <button type="button" class="btn btn-warning">Middle</button>
                                <button type="button" class="btn btn-success">Right</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>


        </div>
    </div>
</div>