<app-menu></app-menu>

<div class="container my-3">
    <div class="row justify-content-center my-3">
        <div class="col text-start">
            <h2><i class="fas fa-sign-out-alt"></i> Salida del sistema</h2>
        </div>
    </div>
    <div class="row justify-content-center">

        <div class="control-group text-center my-5">
            <h4 class="text-muted text-monospace my-5">Actualmente está logueado en el sistema como
                "{{strUsuarioSession}}"
            </h4>
            <div class="alert alert-danger" role="alert">
                <h3 class="">¿Está seguro de que quiere salir de la sesión?</h3>
            </div>
        </div>

        <div class="mt-5 text-center">
            <button class="btn btn-warning float-center mx-1" (click)="closeSession()"><i
                    class="fas fa-sign-out-alt"></i> Salir de la sesión</button>
            <button class="btn btn-primary float-center mx-1" (click)="goBack()"><i
                    class="fas fa-arrow-circle-left"></i> Volver </button>
        </div>
    </div>
</div>