<app-menu></app-menu>

<div class="container my-3">
    <div class="row justify-content-center my-3">
        <div class="col text-start">
            <h2><i class="fas fa-th-large"></i> Vista de un Post</h2>
        </div>
    </div>

    <div class="row justify-content-center">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>ID</th>
                    <td>{{oPost?.id}}</td>
                </tr>
                <tr>
                    <th>Título</th>
                    <td>{{oPost?.titulo}}</td>
                </tr>
                <tr>
                    <th>Cuerpo</th>
                    <td>{{oPost?.cuerpo}}</td>
                </tr>
                <tr>
                    <th>Fecha</th>
                    <td>{{oPost?.fecha | showDateTime}}</td>
                </tr>
                <tr>
                    <th>Etiquetas</th>
                    <td>{{oPost?.etiquetas}}</td>
                </tr>                
                <tr>
                    <th>Visible</th>
                    <td [innerHTML]="oPost?.visible | showBoolean"></td>
                </tr>
            </tbody>
        </table>

        <div class="control-group text-center mt-5">
            <div class="controls">
                <a class="btn btn-primary mx-2" [routerLink]="['/home']"><i class="fas fa-home"></i> Ir a home</a>
                <a class="btn btn-primary mx-2" (click)="goBack()"><i class="fas fa-arrow-circle-left"></i> Volver </a>
            </div>
        </div>

    </div>
</div>

<app-footer></app-footer>